.footer {
  .container-fluid {
    background-color: $color-dark;
    .footer-head {
      margin-top: $gap * 3;
      a {
        color : darken($color-gray , 35%);
      }
      a:hover {
      color : $color-light;
      }
      h4 {
        text-align: left;
        color : $color-light;
      }
      ul {
        padding-left: 0;
      }
      li {
        list-style: none;
      }
    }
  }
  .footer-footer {
    margin-top: $gap * 1.35;
    text-align: center;
    margin-bottom: $gap * 4;
    a {
      color : $color-light;
    }
  }
}