.main {
  margin-bottom: $gap * 4;
}

.new-films {
  .row {
    margin-right: -$gap / 2;
    margin-left: -$gap / 2;
  }

  .thumbnail {
    margin-bottom: $gap;
  }
  &-item {
    padding-right: $gap / 2;
    padding-left: $gap / 2;
  }
}
