.embed-responsive-item {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.film-video {
  font-size: 1.2em;

  &__well {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  &__intro {
    white-space: nowrap;
    &:not(:last-child) {
      // margin-right: 25px;
      margin-right: $gap * 1.675;
    }
  }

  &__badge {
    font-size: 0.8em;
  }
  
}

.film-send {
  position: relative;
  .btn {
    float: right;
  }
}
