.header-logo__title, .header-logo__description {
  text-shadow: 0 0 5px black, 0 0 20px black;
}

.navbar-inverse {
  background-color: #191919;
  border-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a {
  background-color: #053159;
}

.navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #517ba2;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  background-color: #165690;
}

.navbar-header {
  text-align: center;
}

.navbar-toggle {
  float: none;
  margin-right: 0;
}

.panel {
  background-color: #f1f1f1;
  border: none;
  margin-bottom: 30px;
}

.panel-info > .panel-heading {
  color: #ffffff;
  background-color: #df8a13;
  border: none;
}

.panel-title {
  font-size: 1.2rem;
  letter-spacing: 0.1em;
}

.panel-body {
  border: 1px solid #dddddd;
  border-radius: 0 0 4px 4px;
}

.input-lg,
.input-group-lg > .form-control {
  font-size: 0.875rem;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  font-family: "PT Sans", sans-serif;
}

a {
  color: #165690;
}

a:hover, a:focus {
  text-decoration: none;
  color: #df8a13;
}

h1 {
  margin: -7.5px 0 45px;
  font-family: "PT Serif", serif;
  font-size: 3rem;
}

h1::after {
  position: absolute;
  width: 100%;
  margin: 0.85em 0 0 15px;
  content: "";
  border-bottom: 3px solid rgba(240, 173, 79, 0.7);
}

h2 {
  margin: 60px 0 45px 45px;
  font-family: "PT Serif", serif;
  font-size: 2.5rem;
}

h2::before {
  position: absolute;
  left: 0;
  width: 30px;
  margin: 0.25em 0 0 0;
  content: "";
  border-bottom: 3px solid rgba(240, 173, 79, 0.7);
}

h2::after {
  position: absolute;
  width: 100%;
  margin: 0.85em 0 0 15px;
  content: "";
  border-bottom: 3px solid rgba(240, 173, 79, 0.7);
}

h3 {
  font-family: "PT Sans", sans-serif;
}

section {
  position: relative;
  overflow: hidden;
}

.header {
  margin-bottom: 60px;
}

.header-logo {
  background-color: #232323;
  background-image: url(../img/header-bg.jpg);
  background-size: cover;
  background-position: 50% 50%;
  text-align: center;
  padding: 100px 0;
}

.header-logo__title {
  display: block;
  color: #df8a13;
  font-family: "PT Serif", serif;
}

.header-logo__description {
  display: block;
  color: #ffffff;
  font-size: 1.15rem;
  letter-spacing: 0.2em;
}

.main {
  margin-bottom: 15px;
}

.new-films,
.top-week {
  margin-bottom: -15px;
}

.new-films .row,
.top-week .row {
  margin-right: -7.5px;
  margin-bottom: -15px;
  margin-left: -7.5px;
}

.new-films .thumbnail,
.top-week .thumbnail {
  margin-bottom: 0;
}

.new-films-item,
.top-week-item {
  margin-bottom: 15px;
  padding-right: 7.5px;
  padding-left: 7.5px;
}

.new-films-item-image,
.top-week-item-image {
  width: 100%;
}

.new-films-item .new-films-title,
.new-films-item .top-week-title,
.top-week-item .new-films-title,
.top-week-item .top-week-title {
  margin: 0;
  text-align: center;
  font-size: 1rem;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.new-films-item .thumbnail,
.top-week-item .thumbnail {
  -webkit-transition: background-color 0.25s ease;
  -o-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
}

.new-films-item:hover .thumbnail,
.top-week-item:hover .thumbnail {
  border-color: #df8a13;
  background-color: #df8a13;
}

.new-films-item:hover .new-films-title,
.new-films-item:hover .top-week-title,
.top-week-item:hover .new-films-title,
.top-week-item:hover .top-week-title {
  color: white;
}

.film-news {
  margin-bottom: -30px;
}

.film-news .film-news-item {
  padding-bottom: 18.75px;
}

.film-news .film-news-item h3 {
  margin-bottom: 10px;
}

.film-news .film-news-item__text {
  text-align: justify;
}

.film-news .film-news-item .btn {
  float: right;
}

.film-news .film-news-item .thumbnail {
  -webkit-transition: background-color 0.25s ease;
  -o-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
}

.film-news .film-news-item:hover .thumbnail {
  border-color: #df8a13;
  background-color: #f0ad4f;
}

.film-news .film-news-item:hover h3 > a {
  color: #df8a13;
}

.film-news .film-news-item:hover .btn-warning {
  background-color: #df8a13;
}

.main {
  margin-bottom: 45px;
}

.film-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 192.75px;
  padding-right: 192.75px;
  padding-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.film-info p {
  letter-spacing: rem;
  font-size: 19.2px;
}

.film-info .badge {
  font-size: 0.8em;
}

.film-info .badge:not(:last-child) {
  margin-right: 3%;
}

.film-send {
  position: relative;
}

.film-send .btn {
  float: right;
}

.left-sidebar {
  margin-bottom: 60px;
}

.left-sidebar .panel:last-of-type {
  margin-bottom: 0;
}

.vertical-slider {
  border-radius: 4px;
  overflow: hidden;
}

.vertical-slider img {
  width: 100%;
}

.top-films-body {
  padding-left: 0;
  padding-right: 0;
}

.top-films-list {
  margin-bottom: 0;
}

.top-films-item {
  padding: 0;
  margin-left: -1px;
  margin-right: -1px;
  background-color: transparent;
  border-right: none;
  border-left: none;
  border-bottom: none;
  border-top: 2px solid #dddddd;
}

.top-films-item:first-child {
  border-top: none;
  border-radius: 0;
}

.top-films-item:last-child {
  border-radius: 0;
}

.top-films-item:hover {
  background-color: #df8a13;
}

.top-films-item:hover a {
  color: #ffffff;
}

.top-films-item:hover .badge {
  background-color: #232323;
}

.top-films-badge {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 10px;
}

.top-films a {
  display: block;
  padding: 10px 40px 10px 15px;
}

.site-news-item {
  position: relative;
  clear: both;
}

.site-news-item:not(:last-child) {
  min-height: 85px;
  margin-bottom: 15px;
}

.site-news-item:not(:last-child)::after {
  position: absolute;
  right: 0;
  bottom: -5px;
  width: calc(100% - 85px);
  height: 1px;
  content: "";
  background-color: #dddddd;
}

.site-news-item:hover .site-news-item__title a {
  color: #df8a13;
}

.site-news-item:hover .site-news-item__image {
  border-color: #df8a13;
  background-color: #df8a13;
}

.site-news-item__image {
  float: left;
  width: 75px;
  margin: 0 10px 10px 0;
  -webkit-transition: background-color 0.25s ease;
  -o-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
}

.site-news-item__image img {
  width: 100%;
}

.site-news-item__date {
  text-align: right;
  color: #909090;
  font-size: 0.8rem;
}

.site-news-item__title {
  margin-bottom: 10px;
}

.site-news-item__title a {
  -webkit-transition: color 0.25s ease;
  -o-transition: color 0.25s ease;
  transition: color 0.25s ease;
  display: -webkit-box;
  overflow: hidden;
  height: 50px;
  font-size: 1rem;
  line-height: 1.5rem;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.footer {
  margin-top: 12px;
}

.footer .container-fluid {
  background-color: #232323;
}

.footer .container-fluid a {
  color: #838383;
}

.footer .container-fluid a:hover {
  color: #ffffff;
}

.footer .container-fluid h4 {
  margin-top: 56.25px;
  text-align: left;
  color: #ffffff;
}

.footer .container-fluid ul {
  padding-left: 0;
}

.footer .container-fluid li {
  list-style: none;
}

.footer .footer-footer {
  margin-top: 20.25px;
  text-align: center;
  margin-bottom: 75px;
}

.footer .footer-footer a {
  color: #ffffff;
}

@media (min-width: 576px) {
  h3 {
    font-size: 1.5rem;
  }
  .header-logo__title {
    font-size: 3.5rem;
    letter-spacing: 0.33em;
  }
}

@media (min-width: 768px) {
  .navbar-inverse .navbar-nav > li > a {
    border-radius: 4px;
  }
  .navbar-left li {
    margin: 5px 5px 5px 0;
  }
  .navbar-right li {
    margin: 5px 0 5px 5px;
  }
}

@media (max-width: 767.8px) {
  .navbar-inverse .navbar-nav > li > a {
    text-align: center;
  }
  .navbar-left {
    margin-bottom: 0;
  }
  .navbar-right {
    margin-top: 0;
  }
}

@media (max-width: 575.8px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.75rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  .header-logo__title {
    font-size: 2.5rem;
    letter-spacing: 0.2em;
  }
}
